*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.full-wrapper {
  font-family: 'Open Sans', sans-serif;
  display: flex;
}

.grid-container {
  display: grid;
  grid-template-areas:  
    "info info profile"
    "experience education blog"
    "social contact portfolio";
    height: 100vh;
    width: 60%;
   grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.article-one-wrapper {
  display: flex;
  flex-direction: column;
}

.grid-item-main {
  padding: 2rem 0 0 1rem;
  color: #060329;
}

.grid-item-main h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.grid-item-main p {
  font-size: 0.75rem;
  margin: 0;
  padding: 0.5rem 0 0 0;
}

.grid-item-main button {
  background-color: rgba(189 96 34);
  border: 0.15rem solid #060329;
  cursor: not-allowed;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  height: 2.35rem;
  width: 7rem;
  margin: 0.75rem 0.25rem 0 0.25rem;
}

.icon {
  font-size: 3.5rem;
}

.grid-item {
  align-items: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-item {
  color: #060329;
}

#a1 {
  grid-area: info;
  /*background-color: #74FFBF;*/
  background-color: rgba(189 96 34);
}

#a2 {
  grid-area: profile;
  /*background-color: #9AE869;*/
  background-color: rgba(62 31 11);
}

#a3 {
  grid-area: experience;
  /*background-color: #85FF81;*/
  background-color: rgba(189 130 90);
}

#a4 {
  grid-area: education;
  /*background-color: #DAFF74;*/
  background-color: rgba(137 94 65);
}

#a5 {
  grid-area: blog;
  /*background-color: #69E88A;*/
  background-color: rgba(189 130 90);
}

#a6 {
  grid-area: social;
/*background-color: #DAFF74;*/
background-color: rgba(113 57 20);
}

#a7 {
  grid-area: contact;
  /*background-color: #69E88A;*/
  background-color: rgba(62 31 11);
}

#a8 {
  grid-area: portfolio;
  /*background-color: #74FBF;*/
  background-color: rgba(137 94 65);
}

.grid-item p {
  padding: 0.5rem;
}

.main-pic {
  background-image: url(images/wolf.jpg); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 40%;
  display: inline-block;
}

.carosel-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* position: absolute; */
  /* top: 50%; left: */
}

.main-pic-wrapper {
  height: 100%;
  display: flex;
  align-items: center
}

.menu-buttons {
  border-radius: 50%;
  height: 1rem;
}

.three-dot-menu {
  float: right;
  font-size: 2rem;
  display: flex;
  top: 2rem; right: 2rem;
  margin: 2rem 2rem 0 0 ;
}

.arrow {
  font-size: 2.5rem;
  background-color: rgba(239, 247, 243, 0.411);
  border: 0.10rem solid rgba(239, 247, 243, 0.411);
  border-radius: 50%;
  margin: 0 1rem;
}

.left-arrow {
  margin-left: 4rem;
}

@media screen and (max-width: 925px) {
  .grid-container {
    transition: 1s;
    width: 100%;
  }
  
  .full-wrapper {
    display: grid;
      height: 100vh;
      width: 100%;
     grid-template-columns: 1fr;
  }

  #a1 {
    background-image: url(images/wolf-of-wall-street.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
  }

  .profile-h1-p-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .grid-item-main h1 {
    text-shadow: 0.01rem 0.01rem 0.01rem grey;
  }

  .grid-item-main p {
    font-size:  1rem;
    text-shadow: 0.01rem 0.01rem 0.01rem grey;
    width: 9rem;
  }

  .profile-buttons-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contact-btn {
    margin-right: 9rem;
  }

  .main-pic {
    display: none;
  }

}

@media screen and (max-width: 680px) {
  .grid-container {
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "info info"
    "profile experience"
    "education blog"
    "social contact"
    "portfolio";
    overflow: scroll;
  }
 
  #a1 {
    background-image: url(images/theWolf.jpg); 
  }

  .grid-main-item {
    color: rgb(136, 38, 21);
  }

  .grid-item-main h1 {
    color: rgb(136, 38, 21);
  }

  .grid-item-main p  {
    color: rgb(136, 38, 21);
    font-size: 1rem;
    margin: 0 2rem;
  }

  .grid-item-main button {
    margin: 2rem 2rem;

  }

  .grid-item {
    
  }
}